{% extends "base.html" %}

{% block header %}
<div class="alert alert-primary" role="alert">
   <h3>社内SNS</h3>
</div>
{% endblock header %}

{% block content %}
{% if user.is_authenticated %}

<div class="container">
    {% for item in object_list %}
    <div class="alert alert-success" role="alert">
        <p>タイトル：<a href="{% url "detail" item.pk %}">{{item.title}}</a></p>
        <p>投稿者：{{item.author}}</p>
        <a href="#" class="btn btn-primary disabled"  role="button" aria-pressed="true">いいね：{{item.good}}</a>
        <a href="#" class="btn btn-secondary disabled" role="button" aria-pressed="true">既読：{{item.read}}人</a>
    </div>
    {% endfor %}
    <a href="{% url "logout" %}" name="logout">ログアウトする</a>
</div>
{% else %}
ログインしてください
{% endif %}
{% endblock content %}
