{% extends "base.html" %}

{% block header %}
<div class="alert alert-primary" role="alert">
   <h3>社内SNS</h3>
</div>
{% endblock header %}

{% block content %}
<div class="container">
    <div class="alert alert-success" role="alert">
        <p>タイトル：</p>
        <p>投稿者：</p>
        <a href="#" class="btn btn-primary" role="button" aria-pressed="true">Primary link</a>
        <a href="#" class="btn btn-secondary" role="button" aria-pressed="true">Link</a>
    </div>
</div>
{% endblock content %}
